# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/CodingTestCPP
/Solved/x64/Debug
/CodingTestCPP/CodingTestCPP.vcxproj.user
/CodingTestCPP/CodingTestCPP.vcxproj.filters
/CodingTestCPP/CodingTestCPP.vcxproj
/CodingTestCPP/main.cpp
/Solved
/Soved
/x64/Debug
/CodingTestCPP.sln
